.App {
  
  text-align: center;
}
.content{
  width: 500px;
  height: 100%;
  border: 1px solid red;
  margin: auto;
  margin-top: 10vw;
}
/* ////////////// */
.form_add{
  width: 100%;
  padding: 25px 0px;
  background-color: black;
}
.form_add input{
  width: 60%;
  outline: 0;
}
.form_add button{
  width: 30%;
}
.form_add input,
.form_add button{
  padding: 15px;
  font-size: 25px;
}
/* /////////////////// */
.todolist_box label{
  width: 100%;
  background-color: darkgrey;
  margin: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist_box p{
  width: 90%;
  text-align: left;
}
/* ////////// */
.footer{
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer .footer_form input{
  padding: 5px 15px;
}